<%- include('partials/head'); -%>

    <form action="/newpost" method="POST">

        <div>
            <label for="id">Permalink</label>
            <input type="text" id="id" name="id">
        </div>

        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        </div>
        <div>
            <label for="pubDate">pubDate</label>
            <input type="date" id="pubDate" name="pubDate">
        </div>
        <div>
            <label for="content">Post Content</label>
            <textarea name="content" id="content" cols="60" rows="10"></textarea>
        </div>
        
        <button type="submit">Publish</button>
    </form>

    <% include ('partials/footer'); %>